:root {
  --color-primary: hsl(171, 66%, 44%);
  --color-secondary: hsl(233, 100%, 69%);
  --color-neutral-gray-700: hsl(210, 10%, 33%);
  --color-neutral-gray-500: hsl(201, 11%, 66%);
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  color: var(--color-neutral-gray-500);
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-neutral-gray-700);
}

h1 {
  font-size: clamp(3.5rem, 2.2222vw + 2.6667rem, 4rem);
}

h2 {
  font-size: clamp(2.5rem, 4.6154vw + .7692rem, 3.5rem);
  margin-bottom: 1.6rem;
}

h3 {
  font-size: clamp(1.8rem, 4.6154vw + .7692rem, 2.5rem);
  margin-bottom: 3rem;
}

.icon {
  width: 5rem;
  height: 5rem;
  margin: .5em;
}

.btn {
  padding: 1.5rem 2rem;
  border-style: none;
  border-radius: 30px;
  font-weight: 600;
  color: hsl(0, 0%, 98%);
  cursor: pointer;
}

.btn--primary {
  background-color: var(--color-primary);
  box-shadow: 1px 4px 2px -1px hsla(171, 66%, 44%, 0.8);
  border-bottom: 1px solid hsla(171, 66%, 44%, 0.8);
}

.btn--secondary {
  background-color: var(--color-secondary);
  box-shadow: 1px 4px 2px -1px hsla(233, 100%, 55%, 0.8);
  border-bottom: 1px solid hsla(233, 100%, 55%, 0.8);
}

.full-width {
  grid-column: 2 / -2;
}

.grouped-btn {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  width: min(100% - 1rem, 46rem);
  margin: 3rem auto;
}



.main-container {
  .page-info {
    --padding: 4rem;
    --max-width: 69ch;
    padding-block: 3rem;
    width: min(100% - var(--padding), var(--max-width));
    margin: 0 auto;
    text-align: center;
    display: grid;
    gap: 2rem;
  }

  .page-1 {
    min-height: 70vh;
    background-image: url(../img/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media screen and (width > 40rem) {
      background-image: url(../img/bg-header-desktop.png);
    }

    .page-1__container {
      padding-block: 10rem;
      width: min(100% - 4rem, 65rem);
      display: grid;
      place-items: center;
      gap: 2rem;

      .page__logo {
        margin-bottom: 4rem;
      }

      p {
        max-width: 70ch;
      }
    }
  }

  .page-2__container {
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5rem;
    margin-block: 4rem;

    .features {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      max-width: 40ch;

      h3 {
        margin-bottom: 2rem;
      }
    }

    @media screen and (width > 40rem) {
      text-align: left;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding-inline: 0;

      .features {
        padding: 2rem;
      }

      figure {
        position: relative;
        left: -25px;
      }
    }
  }

  .page-3 {
    figure {
      display: grid;
      grid-template-columns: 1fr min(100% - 2rem, 90rem) 1fr;
      margin-block: 10rem;

      >* {
        grid-column: 2 / -2;
      }
    }
  }

  .workflow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    width: min(100% - 3rem, 120rem);
    margin: 4rem auto;
    gap: 4rem;

    .content {
      text-align: center;
    }
  }

  .page-5__container {
    width: min(100% - 4rem, 110rem);
    margin: 10rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    .sponsor {
      width: clamp(10rem, 15.3846vw + 4.2308rem, 15rem);
    }

    @media screen and (width < 30rem) {
      gap: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .page-6__container {
    text-align: center;
    width: min(100% - 4rem, 70rem);
    margin: 0 auto;
    padding-block: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    p {
      max-width: 58ch;
      margin: 0 auto;
    }
  }
}

footer {
  --footer-max-width: 110rem;
  --footer-padding: 2rem;
  --footer-bg: hsl(201, 11%, 96%);
  display: grid;
  grid-template-columns: 1fr min(100% - var(--footer-padding), var(--footer-max-width)) 1fr;
  background-color: var(--footer-bg);
  color: var(--color-neutral-gray-700);
  margin-top: 1rem;

  .footer-container {
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-items: center;
    gap: 2rem;
    padding-top: 5rem;

    /* footer__logo */
    .footer__logo {
      width: 7rem;
      height: 7rem;
      overflow: hidden;
      display: flex;
    }

    /* footer__links */
    .footer__links {
      width: 100%;
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      column-gap: 1rem;

      a {
        text-decoration: none;
        display: block;
        padding: 0.5rem 1rem;
      }
    }

    /* social__icons */
    .social_icons {
      margin: 0 0 0 auto;

      svg {
        height: 2rem;
        width: 2rem;
        cursor: pointer;
      }

      @media screen and (width < 50rem) {
        margin: 0 auto;
      }
    }

    .attribution {
      padding: 1rem;
    }

    @media screen and (width < 50rem) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    @media screen and (width > 50rem) {
      .footer__logo{
        margin-right: 5rem;
      }
    }
  }
}
